## Author
Francisco José Zamith Guimarães

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List libraries used by Data Scientists
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. stringr
3. tidyr

|Data Science Tools|
|------------------|
|Tensorflow|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335